<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="Unit">
            <file>tests/test-idempotency.php</file>
            <file>tests/test-webhook-handler.php</file>
            <file>tests/test-failover-manager.php</file>
            <file>tests/test-nmi-gateway.php</file>
            <file>tests/test-stripe-gateway.php</file>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">includes/</directory>
        </include>
        <report>
            <text outputFile="php://stdout" showUncoveredFiles="false"/>
        </report>
    </coverage>
</phpunit>
